.wp-caption{
	border: solid 5px #fefefe;
	border-radius: 3px;
	box-shadow: 0 0 6px #aaa;
	margin: 5px auto;
	background-color: #fff;
	text-align: center;	
}

.article_contents ul>li{
	list-style: disc;
	margin:0 auto 0 20px !important;
	font-size: 12px;
	list-style-position: inside;
}


blockquote ol{
	padding-left: 7%;
	margin:10px auto;
}

blockquote ol li{
	list-style: decimal;
	margin:0 auto 0 20px !important;
}

 blockquote{
	width:90%;
	border-radius: 2px;
	font-style: italic;
 
	background:#fefefe;  
	border-left:10px solid #ccc;  
	margin:1.5em auto;  
	padding:.5em 10px;  
	quotes:'"';  

}  

blockquote:before {  
     color:#ccc;  
     content:open-quote;  
     font-size:3em;  
     line-height:.1em;  
     margin-right:.25em;  
     vertical-align:-.4em;  
}  

blockquote p {  
     display:inline;  
}  

li.none{
	list-style: none !important;
}

p>a>img{
	border: solid 5px #fefefe;
	border-radius: 3px;
	box-shadow: 0 0 6px #aaaaaa;
	margin: 5px auto;
	background-color: #ffffff;
	text-align: center;	
}

.separator{
	display: block;
	width: 80%;
	height: 5px;
	border-bottom: 1px dashed #dddddd;
	margin: 0 auto 15px;
}

.clear{
	width:100%;
	clear:both;
	display: block;
}


.alignright{
	float: right;
	margin:6px 6px 12px 12px !important;
}

.alignleft{
	float:left;
	margin:6px 12px 12px 6px !important;
}

.aligncenter{
	clear:both;
	margin:0 auto 20px !important;
	display: block;
}


