

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html{
	height: 100%;
}

.modal-backdrop{
	    z-index: 0;
}
body.modal-open,
.navbar{
	margin-right:0 !important;
}

a:hover{
	text-decoration: none;
}


body{
	font-family: Arial !important;
	padding-bottom:0px;
}

.mobile-hide{
	display: block;
}

.mobile-show{
	display: none;
}

.navbar{
	background-color: #EBDEEB !important;
	border-bottom:1px solid #ffffff;
	height: 90px;
	background-image: none;
	box-shadow: none;
}

.navbar-brand{
	font-weight: 200;
	color:#777777;
	text-shadow: none;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px
}


.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover, 
.navbar-inverse .navbar-nav>.active>a:focus {
    color: #999999;
    background-color:transparent;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background: #ffffff;
}


.navbar-toggle{
    width: 48px;
    padding: 18px 13px;;
    margin: 0;
    border-radius: 0;
}



.navbar-inverse .navbar-nav>.active>a:hover{
	color: #ffffff;
}

.navbar-toggle-search{
	width: 48px;
    padding: 12px;
    height: 48px;
    color: #999999;
}

.navbar-inverse .navbar-toggle {
    border: none;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #999999;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    text-shadow:none;
}


.center-block {
  margin-left: auto;
  margin-right: auto;
}

.fletter{
	font-weight: 200;
}

.fletter:first-letter{
	font-size:1.1em;
	
}

.navbar .searchbox{
	width:40%;
}

input.tw{
	border-radius: 0;
	height: 48px;
}

.searchbox input.tw{
	width:75%;
}


.searchbox button.tw{
	border-radius: 0;
	height: 48px;
	border: none;
	padding: 1px 0;
	margin-left: -5px;
	width: 48px;
	color:#eeeeee
}

.navbar li a{
	padding:0 15px;
}

.navbar li.active{
	

}

.section-header{
	padding:0px 15px 30px;
	color:#aaaaaa;
}

.thumb{
	width:150px;
	height:200px;
	/*border:1px solid #eeeeee;*/
	display: block;
}

.arrow-left,
.arrow-right{
	color:#ccc;
}

.arrow-box{
	border: solid 1px #ccc;
	width: 30px;
	padding: 25px 5px;
	border-radius: 3px;
	position: relative;
	margin-top: 60px;
}

.arrow-right .arrow-box{
	padding-left:9px;
	float: right;
}

.divider{
	padding-bottom:30px;
	margin-top:15px
}

.slick .post_meta{
	width:150px;
	margin: 0 auto;
}

.post_meta h5{
	text-align: center;
	color:#aaaaaa;
}

.post_meta p{
	color:#558EB4;
	text-align: center;
}

.comment-blue{
	color:#558EB4;
}

.post_meta p .fa-star,
.post_meta p .fa-star-o,
.review_meta p .fa-star,
.review_meta p .fa-star-o,
.fa-star,
.fa-star-o{
	color:#E0CB2A;
}

.post_meta p .fa-comment{
	margin-right:3px;
}

.reviewer,
.review_date,
.review_star{
	margin-bottom:2px;
}

.review_contents{
	color:#aaaaaa;
	font-size:.8em;
}

p.review_date,
p.reviewer{
	color: #aaaaaa;
} 

.back-top{
	height: 48px;
	background-color: #787382;
	color:#ffffff;
	text-align: center
}



.back-top p{
	line-height: 48px;
}

.backtop-link:hover p{
	font-style: none;
}

footer{
	height: 185px;
	background-color: #C0A9D8;
	border-top:1px solid #ffffff;
	width:100%;
	
	color:#eeeeee;
}

.breadcrumb-bar{
	height: 48px;
	background-color: #DEE1EB;
    margin-top: 16px; /*40px for non local?*/
    border-bottom: 1px solid #ffffff;
}

.breadcrumbs,
.breadcrumbs a{
	    text-transform: uppercase;
	    color:#777777;
	    padding-top:14px;
	    font-weight: 100;
}

.breadcurmbs a{
	text-decoration: underline;
}

.address{
    text-align: center;
    padding: 12px 0;
}

/*********SLICK Settings **************/

.slick-slide{
	width:195px;
	height: auto;
}

button.slick-prev{
	display: inline-block;
    position: absolute;
    top: 60px;
    left: -100px;
    height: 90px;
    background: none;
    border: solid 1px #ccc;
    border-radius: 5px;
    color: #cccccc;
    width: 40px;
}

button.slick-next{
	display: inline-block;
    position: absolute;
    top: 60px;
    right: -100px;
    height: 90px;
    background: none;
    border: solid 1px #ccc;
    border-radius: 5px;
    color: #cccccc;
    width: 40px;
}

.book-meta a{
	text-decoration: none;
	color: #999999;
}

.book-meta p{
	color: #999999;
}

.sidebar-full{
	margin-bottom: 28px;
}


/*********  Single Page  **************/

.thumb-single{
	width: 256px;
	height:256px;
	border:solid 1px #ffffff;
}

.single-detail-meta{
	margin-top:36px;
}

.thumb-single{
	
}


.user-thumb{
	border-radius: 61px;
	width:122px;
	height: 122px;
	border:solid 1px #cccccc;
}

.meta-info{
	padding-bottom:15px;
}

.meta-info h2{
    font-size: 24px;
    color: #777777;
    font-weight: 200;
    text-transform: uppercase;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 5px;
}

.meta-info h4{
    color: #aaaaaa;
    font-weight: 200;
    font-size: 14px;
    margin: 0;
    text-transform: uppercase;
    font-family: ARIAL;
}

.meta-info p{
	margin:0;
	color:#aaaaaa;
	text-transform: uppercase;
	font-weight: 100;
}

.meta-single .btn-primary{
	background: #558EB4;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    padding: 18px 41px;
    font-weight: 100;
    margin-right:12px;
}

.meta-single .btn-warning{
	background: #D58E47;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    padding: 18px 41px;
    font-weight: 100;
    margin-right:12px;
}

.single-detail-text{
	color: #777777;
	font-size: 16px;
}

.review-post p.review_contents{
	color:#777777;
	font-size: 16px;
}

.review-post h5.review_title{
	color:#555555;
	font-size: 16px;
}

.review-post .user-thumb{
	    margin: 0 auto 6px;
}

 .user-info p{
	text-align: center;
	margin-bottom: 0;
}

.user-info p.review-postdate{
	color:#aaaaaa;
	line-height: 1em;
}


div.jumbotron{
	height: 400px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('http://localhost/wordpress/wp-content/themes/tenriportal/img/jumbotron.jpg');
}

div.jumbotron .container{
	display: none;
}

.single-detail-text p{
	    margin-left: 16px;
}

/*********archive css **************/

.archive-listing{
	margin-top:32px;
}

.book-meta h2{
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 2px;
}

.book-meta h4{
	font-size:14px;
}

.archive-listing .book-meta .rating-container .label,
.single .meta-single .rating-container .label,
.slick-list .rating-container .label,
.crfp-stars .label{
	display: none;
}

.archive-listing .book-meta .rating-container span{
	line-height: 25px;
}
.archive-listing div.rating-container.crfp-group-2 span.crfp-rating{
	height: 25px
}

.archive-listing .mobile-hide .crfp-stars,
.single .meta-single .crfp-stars{
	    margin-bottom: 20px;
}
.slick-slide .crfp-stars span.rating-always-on{
    display: block;
    margin: 0 auto;
}

.searchResultBarContents{
	color: white;
	text-transform: uppercase;
	padding-top:14px;
	font-weight: 100;
}

.searchresultbar{
	position: relative;
    display: block;
    background: #787382;
    margin-top: 0;
    height: 48px;
}

/********* sidebar css **************/

aside{
	background-color:#787382;
	color:#ffffff;
	font-weight: 200;
	font-family: arial;
	min-height: 100px;
	border:solid 1px #ffffff;
	padding:10px 16px;
}


.sidebar-section{
	border-bottom:solid 1px #EEEEEE;
	padding-bottom: 12px;
}

.sidebar-section h4{
	font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    margin-bottom: 6px;
}

.sidebar-section h5{
	font-size: 14px;
    font-weight: 200;
    letter-spacing: 1px;
    margin-bottom: 12px;
    margin-top:12px;
}

aside .fa-star,
aside .fa-star-o{
	color: #eeeeee;
}

.thumb{
	    margin: 0 auto;
}

/********* modal css **************/

.modal-content{
    border-radius: 0;
    box-shadow: none;
    border:none;
}

.modal-header{
	    background-color: #558EB4;
}

.modal-title{
	color: #fff;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    padding: 10px 4px;
}

.modal-backdrop.in{
	opacity: .8;
}

.review-title,
.review-star,
.review-detail{
	margin-bottom: 24px;
}

#review-input-detail,
.comment-form-comment textarea{
    font-size: 14px;
    font-style: italic;
    padding-top: 16px;
	height: 200px;
}

#review-input-title,
.modal-content .form-userid,
.modal-content .form-password{
    height: 50px;
    font-size: 16px;
    font-weight: 100;
    font-style: italic;
}

.modal-content .review-star{
	text-align: center;
	font-size: 48px;
	padding: 25px 0;
}

.modal-content .btn-cancel,
.modal-content .btn-fb{	
    border-radius: 5px;
    border: none;
    padding: 18px 41px;
    font-weight: 100;
    margin-right:12px;
	color: #ffffff;
	text-shadow: -1px -1px 0 #777777;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: #EA6D6D;
	background-image: none;
}

.modal-content .btn-save,
.modal-content .btn-tw{
	background: #AFCE74;
    border-radius: 5px;
    border: none;
    padding: 18px 41px;
    font-weight: 100;
    color: #ffffff;
	text-shadow: -1px -1px 0 #777777;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-image: none;
}

.btn-sign-in{
	border-radius: 5px;
    border: none;
    padding: 18px 41px;
    font-weight: 100;
    margin-right:12px;
	color: #ffffff;
	text-shadow: -1px -1px 0 #777777;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: #EA6D6D;
	background-image: none;
	background-color: #558EB4;
}

.forgotpassword{
	text-align: right;
	text-transform: uppercase;
	padding:5px 0;
}

.btn-login{
	width:182px;
}

.login-buttons{
	text-align: center;
	margin-bottom: 24px;
}

.login-terms{
    display: block;
    width: 207px;
    text-align: left;
    color: #aaaaaa;
    float: right;
    margin-right: 54px;
    margin-left: -75px;
    line-height: 18px;
    padding-top: 10px;
}

.sns-login-title{
	text-shadow: none;
    color: #aaaaaa;
    font-weight: 200;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.btn-fb{
	background-color:#374E8E !important;
	font-size: 14px !important;
	text-transform: lowercase !important;
}
.btn-tw{
	background-color: #66A3CC !important;
	font-size: 14px !important;
	text-transform: lowercase !important;
}

.login-buttons .btn{
	display: block;
	margin: 10px auto;
	width: 250px;
}

.modal-user-thumb .user-thumb{
	margin:25px auto 25px;
}

.modal-user-info{
    margin: 0 auto 25px;
    text-align: center;
}

.modal-user-info p{
    color: #555555;
}

.modal-user-info .username{
    font-size: 20px;
    text-transform: uppercase;
}

.login-buttons .btn-logout{
	background-color: #558EB4;
}

.login-submit,
.login-remember{
	text-align: right;
}

.star-rating{
	width: 50px !important;
	height: 50px !important;
	margin-right:12px !important;
}

div.star-rating-on a,
div.star-rating a,
div.star-rating-hover a{
	background-size: cover !important;
	max-height: 50px;
	max-width: 50px !important;
	width: 50px !important;
	height: 50px !important;
}

.crfp-field{
	margin: 25px auto !important;
    padding: 0 0 25px !important;
    height: 75px;
    width: 310px !important;
    position: relative;
    clear: none !important;
    float: none !important;
}

.show-review{
    border: none;
    width: 100%;
    background: none;
    color: #999999;
    padding: 0 15px;
}



@media only screen and (max-width: 1000px){




div.jumbotron{
	height: 400px;
	}
	
button.slick-prev{
	left:10px;
}

button.slick-next{
	right:10px;
}

.divider{
	padding-bottom: 0;
	margin-top:30px;
}

.thumb{
    width: 120px;
    height: 167px;
}
	
}
/******************************
*******************************
smartphone from here
*******************************
*******************************/

@media only screen and (max-width: 480px) {

.mobile-hide{
	display: none;
}

.mobile-show{
	display: block;
}

div.jumbotron{
	height: 200px;
}

.navbar{
	height:48px;
}

.searchbox{
	display: none;
}

.navbar-collapse{
	position: absolute;
    width: 100%;
    border: none;
}

.navbar-collapse .nav{
	margin-top:0;
}

.navbar-collapse ul.nav>li a,
.navbar-collapse ul.nav>li a:focus,
.navbar-collapse ul.nav>li a:hover,
.navbar-collapse ul.nav>li a:active,
.show-review{
    background: #ffffff;
    border-bottom: #eeeeee 1px solid;
    font-size: 13px;
    text-align: center;
    padding: 12px;
    color:#999999;
    text-transform: uppercase;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
}
.show-review{
    border: none;
    width: 100%;
    
    
    background: none;
    padding: 12px;
}

.navbar-collapse ul.nav>li{
	background: #ffffff;
}

.fletter{
    text-align: center;
}

button.slick-next{
    right: 0;
    height: 50px;
    width: 30px;
}

button.slick-prev{
    left: 0;
    height: 50px;
    width: 30px;
}

.slick-slide{
	width: 150px;
}

.thumb{
	width: 125px;
	height: 165px;
}

.review_meta{
	text-align: center;
}

.review_contents{
	text-align: left;
}

.searchbox2 button{
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    border-radius: 0;
    border: none;

}

.searchbox2 input{
	border:none !important;
	box-shadow: none;
}

.searchbox2{
	width: 100%;
    position: absolute;
    padding: 0;
    margin:-2px 0 0 0;
    left: 0;
    display: none;
}


.breadcrumb-bar{
	margin:0;
}

.breadcrumbs,
.breadcrumbs a{
	font-size: 12px;
	padding-top:15px
}


.archive-listing{
	margin-top:-1px;
}

.filter-container{
	background-color: #787382;
	margin-top:1px;
}


aside{
	border:none;
	background-color:transparent;
    padding: 0 16px;
    margin-top: 0;
    min-height: 0;
}

.filter-body{
	display: none;
	border-top:1px solid #eeeeee;
}

.filter-title h4{
	font-size:13px;
	margin-top: 0;
    margin-bottom: 0;
}

.filter-title button{
    position: absolute;
    right: 0;
    top: 12px;
    border: none;
    padding: 0;
}

.filter-title i{
    font-size: 14px;
    color: #fff;
}

.filter-title{
	position: relative;
	border: none;
    margin: 0;
    padding: 17px 0;

}



.archive-listing article{
	margin-top:25px;
}

.archive-listing .thumb{
	width:100px;
	height: 125px;
}

article .meta-info{
	padding: 0;
	margin: 0;
}

article .meta-info h2{
	font-size: 12px;
}

article .meta-info h4{
	display: none;
}

article .meta-info .author{
	display: none;
}

article .stars p{
	font-size: 12px;
}

article p.review_contents{
	font-size: 10px;
	margin-bottom: 5px;
}

.divider{
	margin-top:15px;
	padding-bottom:0;
}

/***************
	MODAL
****************/

.btn-login{
    width: 145px;
    padding: 15px 15px !important;
}

.login-terms {
    display: block;
    width: 145px;
    text-align: left;
    color: #aaaaaa;
    float: right;
    margin-right: 0;
    margin-left: 4px;
    line-height: 15px;
    font-size: 12px;
}


.thumb-single{
	margin: 0 auto 16px;
}

.single-detail-meta .col-lg-9{
	text-align: center;
}

.single-detail-text,
.review-post p.review_contents{
	font-size: 12px;
}

.meta-single .btn{
	width: 150px;
    padding: 18px;
    text-align: center;
    font-size: 12px;
}

#writeReviewModal .btn{
	width: 145px;
    padding: 18px;
    text-align: center;
    font-size: 12px;
}

.modal-content .review-star{
	font-size: 36px;
}


.star-rating{
	width: 30px !important;
	height: 30px !important;
	margin-right:8px !important;
}

div.star-rating-on a,
div.star-rating a,
div.star-rating-hover a{
	background-size: cover !important;
	max-height: 30px;
	max-width: 30px !important;
	width: 30px !important;
	height: 30px !important;
}

.crfp-field{
	margin: 25px auto !important;
    padding: 0 0 25px !important;
    height: 45px;
    width: 200px !important;
    position: relative;
    clear: none !important;
    float: none !important;
}


}

@media only screen and (max-width:321px){
	
	.meta-single .btn{
		width:180px;
		margin-bottom: 14px;
	}
	
	.meta-info h2{
		font-size:18px;
	}
	
	.breadcrumbs{
		padding-top: 15px;
	}
	
	#writeReviewModal .btn{
	    width: 45%;
	    padding: 13px;
	    text-align: center;
	    font-size: 10px;
	}
	
	.star-rating{
	width: 30px !important;
	height: 30px !important;
	margin-right:7px !important;
}

	div.star-rating-on a,
	div.star-rating a,
	div.star-rating-hover a{
		background-size: cover !important;
		max-height: 30px;
		max-width: 30px !important;
		width: 30px !important;
		height: 30px !important;
	}
	
	.crfp-field{
		margin: 25px auto !important;
	    padding: 0 0 25px 12px !important;
	    height: 45px;
	    width: 200px !important;
	    position: relative;
	    clear: none !important;
	    float: none !important;
	}

	
	
	
}


